body {
    margin: 0px auto;
    padding: 0px auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: url(./60a5477d94142b22caa43070aeddda12.jpg) center;
    transition-property: background;
    transition-duration: 2s;
    animation: glowing;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.50rem;
}

.wrapper-flex {
    display: flex;
    justify-content: space-evenly;
}

.container {
    font-size: 2rem;
    margin-top: 18%;
    text-align: center;
    color: red;
}

button {
    width: 100px;
    height: 30px;
    background-color: red;
    color: black;
}